<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Clewie | Interactive Tensorflow estimator builder</title>
    {% include "styles.html" %}
</head>
<body>
    {% include "jsvarinit.html" %}
    {% include "partials/topbar.html" %}
    <div class="main-content">
        {% block content %}
        {% endblock content%}
    </div>
    {% include "scripts.html" %}
    {% block javascript %}
    {% endblock javascript %}
</bod
</html>