{% extends "layouts/mainLayout.html" %}
{% block content %}
<button onClick="openModal()">
    OPEN MODAL
</button>

{% endblock content %}
{% block javascript %}
<script>    
    var modal = null;
    $(document).ready(function () {
        
        modal = new tingle.modal({
            closeMethods: ["overlay", "button", "escape"]
        });

        modal.setContent("<h1>HELLO</h1>");
        

       

    });
    function openModal(){
        modal.open();
    }
</script>
{% endblock javascript %}