{% extends "layouts/mainLayout.html" %}

{% block content %}
<div class="model-container">

    <div class="model-tile-sizer"></div>
</div>


{% endblock %}

    <!--<script>
        $(document).ready(function () {

            $(".model-container").masonry({
                columnWidth: ".model-tile-sizer",
                itemSelector: ".model-tile",
                percentPosition: true,
            });

            //$(".info-container .btn-hint").on("click", function () {
            //    $(this).toggleClass("active");
            //    $(this).closest(".info-container").toggleClass("active");
            //    $(".model-container").masonry();
            //});

        });
    </script>-->

