{% extends "layouts/mainLayout.html" %} {% block content %}
<div id="regressor-editor">
    <div class="row">
        <div class="control-container col-xs-3 col-md-3 col-sm-3 col-xs-12">
            <ul class="slider-controller">
                <li class="slider-item" value="0">
                    <span>1.</span>
                    Initialize
                </li>
                <li class="slider-item" value="1">
                    <span>2.</span>
                    Train
                </li>
                {% comment %}
                <li class="slider-item" value="2">Evaluate</li> {% endcomment %}
                <li class="slider-item" value="2">
                    <span>3.</span>
                    Predict
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="action-slider slick-slider">
                <div class="action-slide slick-slide" data-gom-action="init">
                    <form action="{{request.path}}" id="init" class="form" method="POST">
                        <div class="form-group">
                            <label for="hidden-units">Hidden units</label>
                            <input id="hidden-units" type="text" name="hidden_units">
                        </div>
                        <div class="form-group">
                            <label for="feature-columns">Feature columns</label>
                            <input id="feature-columns" type="text" name="feature_columns">
                        </div>

                        <div class="form-group">
                            <label for="label-dimension">Label dimension</label>
                            <input id="label-dimension" type="text" name="label_dimension">
                        </div>
                        <p>
                            <input type="submit" data-gom-form="submit" value="Initialize">
                        </p>
                    </form>
                </div>
                <div class="action-slide slick-slide" data-gom-action="train">
                    <form class="form file-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {{form.file}}
                        <div class="form-group">
                            <label for="delimiter">Delimiter</label>
                            <input id="delimiter" type="text" maxlength="1" name="delimiter" value=";">
                        </div>
                        <div class="form-group">
                            <label for="float-precision">Float precision</label>
                            <select name="float_precision" id="float-precision">
                                <option value="None">None</option>
                                <option value="high">High</option>
                                <option value="round_trip">Round</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="use-cols">Use Columns</label>
                            <input id="use-cols" type="text" name="usecols">
                        </div>
                        <p>
                            <input type="submit" data-gom-form="submit" value="Upload" />
                        </p>
                    </form>
                    <div class="js-fileInspector table-inspector"></div>

                </div>

                {% comment %}
                <div class="action-slide slick-slide" data-gom-action="evaluate">
                    EVALUATE
                </div> {% endcomment %}

                <div class="action-slide slick-slide" data-gom-action="predict">
                    <form action="{{request.path}}" id="predict" class="form" method="POST">
                        <div class="form-group">
                            <label for="predict-input">Input</label>
                            <input id="predict-input" type="text" name="input">
                        </div>

                        <input type="submit" data-gom-forn="submit" value="Predict">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        estimatorManager.init($("#regressor-editor"));

    });
</script> {% endblock javascript %}