.table-inspector {
    overflow-x: auto;
    text-align: center;
}

table.clr,
.clr thead,
.clr tbody,
.clr tfoot{
    margin: 0;
    padding: 0;
    border: none;
    font-weight: inherit;
    border-collapse: collapse;
}

table.clr {
    thead {
        tr {
            th {
                border: none;
            }
        }
    }
    th, td {
        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px
        }

        padding: 12px;
        text-align: right;
        white-space: nowrap;
        border-color: transparent;
    }

    th {
        color: $light-blue;
    }

    td {
        color: $dark-blue;
    }

    tr {
        border-right: 1px solid $shadow-primary;
    }


    select {
        background: transparent;
        text-align: right;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        color: inherit;
        font-family: "Source Sans Pro", sans-serif;
        font-size: unset;
    }

    select::-ms-expand {
        display: none;
    }
}


.rtable {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}


.rtable th {
    text-align: center;
}


.rtable--flip {
    display: inline-flex;
    overflow: hidden;
    overflow-x: auto;
    background: none;
}

.rtable--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
}

.rtable--flip tbody {
    display: flex;
    position: relative;
}

.rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
    display: block;
    height: 100%;
}

.rtable--flip th {
    text-align: right;
}


.rtable--flip td {
    background-image: none !important;
    border-left: 0;
}
