.table-inspector {
    overflow-x: auto;
}

table.clr,
.clr thead,
.clr tbody,
.clr tfoot{
    margin: 0;
    padding: 0;
    border: none;
    font-weight: inherit;
    border-collapse: collapse;
}

table.clr {
    thead {
        tr {
            th {
                border: none;
            }
        }
    }
    th, td {
        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px
        }

        padding: 12px;
        text-align: right;
        white-space: nowrap;
        border-color: transparent;
    }

    th {
        color: $light-blue;
    }

    td {
        color: $dark-blue;
    }

    tbody {

        tr {
            border-top: 1px solid $shadow-primary;
            border-bottom: 1px solid $shadow-primary;
        }
    }

    select {
        background: transparent;
        text-align: right;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        color: inherit;
    }

    select::-ms-expand {
        display: none;
    }
}