{% block content %}
<div class="navbar">
    <div class="navbar-limit">
        <a href="/" class="navbar-brand">Clewie</a>
        <i class="navbar-toggle material-icons">&#xE5D2;</i>
        <div class="collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/api" class="nav-link">Api</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Browse</a>
                </li>
                <li class="nav-item">
                    <a href="/create" class="nav-link">Create</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}